@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #D4AF37;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #D4AF37;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #D4AF37;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #D4AF37;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #D4AF37;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/DeWatermark.ai_1736391730840.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.01;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 50px;
	justify-content: flex-start;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #D4AF37;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/*Services Section*/
#services .services{
    flex-direction: column;
	max-width: 1200px;
    margin: 0 auto;
    padding: 300px 0;
    margin-bottom: -230px;
    margin-top: -200px;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: #D4AF37;
}

#services .service-top p{
    color: black;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    text-align: center;
}
 
.service-bottom{
    padding: 10px 0;
}

.wrapper{
    padding: 10px 5%;
}

.card_area{
    display:grid;
    margin-top: 40px;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card{
    position: relative;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.card img{
    height:450px;
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    position:absolute;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(transparent,#1c1c1c 60%);
    padding: 0 50px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.overlay h3{
    margin-top: 55%;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: wheat;
}

.overlay p{
    color: wheat;
}

.overlay a{
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    color: #054ea1;
    background: white;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.card:hover img{
    transform: scale(1.2);
}

.card:hover .overlay{
    height: 100%;
}
/*End Services Section*/

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
  }
  
  /* Gallery styles */
  .gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1px;
	justify-content: center;
	align-items: center;
  }
  
  .gallery-item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: 200px;
  }
  
  .gallery-item img {
	width: 100%;
	height: auto;
	display: block;
	transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
	transform: scale(1.1);
  }
  
  /* Lightbox styles */
  .lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: flex-start;
	z-index: 1000;
	overflow-y: auto;
  }
  
  .lightbox img {
	max-width: 80%;
	max-height: 80%;
	height: auto;
	max-height: none;
	margin: auto;
  }
  
  
  .lightbox .close-btn,
  .lightbox .prev-btn,
  .lightbox .next-btn {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	padding: 10px;
	z-index: 1001;
  }
  
  .lightbox .close-btn {
	top: 10px;
	right: 20px;
  }
  
  .lightbox .prev-btn {
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
  }
  
  .lightbox .next-btn {
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
	.gallery {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
  
  @media (max-width: 480px) {
	.gallery {
	  grid-template-columns: repeat(2, 1fr);
	}
  }


/*Courses Section*/
  .rowc {
	display: flex;
	flex-wrap: wrap;
  }
  .columnc {
	width: 100%;
	padding: 0 1em 1em 1em;
	text-align: center;
  }
  .cardc {
	width: 100%;
	height: 100%;
	padding: 2em 1.5em;
	background: linear-gradient(#ffffff 50%, #003153 50%);
	background-size: 100% 200%;
	background-position: 0 2.5%;
	border-radius: 5px;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	transition: 0.5s;
  }
  h3 {
	font-size: 20px;
	font-weight: 600;
	color: #1f194c;
	margin: 1em 0;
  }

  h2{
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	margin-bottom: 18px;
	color: #D4AF37;
  }

  p {
	color: #575a7b;
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: 0.03em;
  }
  .icon-wrapperc {
	background-color: #D4AF37;
	position: relative;
	margin: auto;
	font-size: 30px;
	height: 2.5em;
	width: 2.5em;
	color: #ffffff;
	border-radius: 50%;
	display: grid;
	place-items: center;
	transition: 0.5s;
  }
  .cardc:hover {
	background-position: 0 100%;
  }
  .cardc:hover .icon-wrapperc {
	background-color: #ffffff;
	color: #2c7bfe;
  }
  .cardc:hover h3 {
	color: #ffffff;
  }
  .cardc:hover p {
	color: #ffffff;
  }
  .cardc:hover h2{
	color: rgb(167, 149, 149);
 }

  @media screen and (min-width: 768px) {
	section {
	  padding: 0 2em;
	}
	.columnc {
	  flex: 0 50%;
	  max-width: 50%;
	}
  }
  @media screen and (min-width: 992px) {
	section {
	  padding: 1em 3em;
	}
	.columnc {
	  flex: 0 0 33.33%;
	  max-width: 33.33%;
	}
  }
/*End Courses Section*/


/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #D4AF37;
	z-index: -1;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  .modal.hidden {
	display: none;
  }
  
  .modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
  }
  
  .modal-content .button {
	display: inline-block;
	margin: 10px;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #D4AF37;
	color: white;
	border-radius: 5px;
  }
  
  .modal-content .button:hover {
	background-color: #b8932b;
  }
  
  .close-button {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #ccc;
	border: none;
	cursor: pointer;
  }
  
  .close-button:hover {
	background-color: #bbb;
  }
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #003153 0%, #003153 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #003153;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1222px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */


/*Social Media Chat Section*/
body {
	margin: 0;
	font-family: Arial, sans-serif;
}

/* Container for the floating buttons */
.floating-buttons {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	z-index: 1000;
}

/* Style for each button */
.floating-buttons a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s, box-shadow 0.3s;
}

.floating-buttons a:hover {
	transform: scale(1.1);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.whatsapp {
	background-color: #25d366;
	color: white;
}

.instagram {
	background: radial-gradient(circle at 30% 30%, #f58529, #dd2a7b, #8134af, #515bd4);
	color: white;
}

.messenger {
	background-color: #0084ff;
	color: white;
}

.floating-buttons a svg {
	width: 24px;
	height: 24px;
	fill: white;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
	.floating-buttons {
		bottom: 15px;
		right: 15px;
		gap: 10px;
	}

	.floating-buttons a {
		width: 40px;
		height: 40px;
	}

	.floating-buttons a svg {
		width: 20px;
		height: 20px;
	}
}
/*End Social Media Chat Section*/